.home {
    position: relative;
    @include xy-grid;
    
    @include breakpoint(large) {
        height: 100vh;
    }

    .sidebar {
        position: relative;
        transition: transform 0.5s;
        width: 100%;

        @include breakpoint(large) {
            @include xy-cell(shrink, false);
            max-width: 357px;
            border-left: 1px solid $light-gray;
        }

        &.collapsed {
            border: 0;

            .sidebar__header {
                border-bottom: 1px solid $light-gray;
                border-left: 1px solid $light-gray;

                svg {
                    transform: rotate(180deg);
                }

                h2 {
                    display: inline-block;
                }

                .right {
                    display: none;
                }
            }

            .sidebar__content {
                display: none;
            }
        }

        &__header {
            padding: rem-calc(15);
            display: flex;
            justify-content: space-between;

            @include breakpoint(medium down) {
                display: none;
            }

            h2 {
                display: none;
            }

            button {
                cursor: pointer;

                &.refresh {

                    &.rotate svg {
                        transform: rotate(360deg);
                        transition: transform 0.8s;
                    }
                }
            }
        }

        &__content {
            padding: 0 rem-calc(50);
        }

        h2{
            font-size: rem-calc(20);

            button {
                @include breakpoint(large) {
                    display: none;
                }
            }
        }

        p {
            font-size: rem-calc(12);
        }

        .close-button {
            right: rem-calc(5);
        }

        #external_events {
            @include breakpoint(medium only) {
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
            }

            .fc-event {
                margin-bottom: rem-calc(10);
                cursor: pointer;
                border: 1px solid $black;
                background: $white;
                display: flex;
                color: $black;
                width: 100%;

                @include breakpoint(medium only) {
                    margin-right: rem-calc(10); 
                    max-width: rem-calc(230);
                }

                .type,
                .class {
                    text-align: center;
                    padding: rem-calc(15) 0;
                    border-right: 1px solid #BEBEBE;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .type {
                    min-width: rem-calc(51);
                }

                .class {
                    min-width: rem-calc(127);
                }

                .date {
                    width: 100%;
                    padding: rem-calc(8) 0;

                    span {
                        display: block;
                        text-align: center;
                    }
                }
            }
        }
    }
}