#main {
   position: relative;
}

.hide_menu {
   .header {
      display: none;
   }
}

.steps {
   max-width: rem-calc(933);
   font-size: rem-calc(14);
   padding: rem-calc(20 15);

   @include breakpoint(large) {
      margin-left: rem-calc(100);
      margin-top: rem-calc(22);
  }
}

.swal2-confirm {
   color: $black !important;
}

.error404 {
   height: 85vh; 
   display: flex;
   align-items: center;
   justify-content: center;
}