.calendar_wrap {
    padding: rem-calc(20);
    transition: width 0.5s;

    @include breakpoint(large) {
        @include xy-cell(8, false);
    }

    @include breakpoint(xlarge) {
        @include xy-cell(9, false);
    }

    @include breakpoint(xxlarge) {
        // width: calc(80% - 1.875rem);
        padding: rem-calc(40 50);

        @include xy-cell(auto, false);
    }
    
    &.collapsed {
        @include xy-cell(11, false);
    }

    #calendar {

        .fc-axis {
            border: 0;
        }

        .fc-toolbar {

            .fc-left {
                h2 {
                    font-size: rem-calc(40);
                }
            }

            .fc-right {
                @include breakpoint(369 down) {
                    margin-top: rem-calc(20);
                    float: left;
                }
            }

            .fc-button {
                border-radius: $global-radius;
                background: $primary-color;
                border: 1px solid $primary-color;
                height: rem-calc(42);

                &.fc-next-button {
                    @include breakpoint(390 down) {
                        margin: 0;
                    }
                }
            }
            
            .fc-menu-button {
                background: url('../img/menu-button.svg') transparent no-repeat;
                border: 0;
                height: 42px;
                width: 42px;
                color: transparent;
                box-shadow: none;
            }

            .fc-today-button {
                width: rem-calc(111);

                @include breakpoint(1060 down) {
                    display: none;
                }
            }

            h2 {
                @include breakpoint(1190 down) {
                    display: none;
                }
            }

            .fc-agendaWeek-button {
                border-radius: 0;
            }

            .fc-button-group {
                @include breakpoint(327 down) {
                    margin-left: rem-calc(4);
                }
            }

            .fc-month-button,
            .fc-agendaDay-button,
            .fc-agendaWeek-button{

                @include breakpoint(medium) {
                    width: rem-calc(115);
                }
                
                &.fc-corner-left {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }

                &.fc-corner-right {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }

                &.fc-state-active {
                    border: 1px solid #83E1FF !important;
                    box-shadow: none;
                    background: #C6F1FF;
                }
            }
        }

        td.fc-widget-header {
            border-top: 1px solid transparent;
            border-left: 1px solid transparent;
            border-right: 1px solid transparent;
            border-bottom: 0;

            div.fc-widget-header {
                border:0;

                .fc-day-header {
                    text-transform: capitalize;
                    background: $white !important;
                    border: 0;
                    font-weight: 300;

                    @include breakpoint(small down) {
                        font-size: rem-calc(10);
                    }
                }
    
                > table {
                    margin-bottom: 0 !important;
                }
            }
        }

        .fc-divider {
            max-width: 100% !important;
        }

        .fc-today {
            background: lighten($primary-color, 10%);
        }

        .fc-view-container {

            .fc-view {
                &.fc-month-view {
                    .fc-day-grid {
                        border: 1px solid $black;
                        border-radius: $global-radius;
                    }
                }

                > table {
                    border-collapse: separate;
                }
            }

            .fc-event {
                margin: 6px 3px;
                border: 0;
                border-radius: 0;
                display: flex;
                justify-content: center;
                align-items: center;
            
                .fc-content {
                    padding: rem-calc(5);
                    text-align: center;
                    color: $black;
                    font-size: rem-calc(12);
                }
            }
        }

        .fc-body {

            .fc-scroller {
                @include breakpoint(medium down) {
                    height: rem-calc(352) !important;
                }
            }

            .fc-time {
                > span {
                    // margin-top: -26px;
                    // display: block;

                    @include breakpoint(small down) {
                        font-size: rem-calc(9);
                    }
                }
            }

            .fc-slats {
                table {
                    border-collapse: separate;

                    tbody {
                        tr {
                            &:first-child {
                                .fc-widget-content {
                                    &:not(.fc-axis) {
                                        border: 1px solid $black;
                                        border-bottom: 0;
                                        border-top-left-radius: $global-radius;
                                        border-top-right-radius: $global-radius;
                                    }
                                }
                            }

                            .fc-widget-content {
                                &:not(.fc-axis) {
                                    border-left: 1px solid $black;
                                    border-right: 1px solid $black;
                                }
                            }

                            &:last-child {
                                .fc-widget-content {
                                    &:not(.fc-axis) {
                                        border: 1px solid $black;
                                        border-top: 0;
                                        border-bottom-left-radius: $global-radius;
                                        border-bottom-right-radius: $global-radius;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            > tr {

                > td.fc-widget-content {
                    border: 0;
                }
            }
        }
    }
}