.top-bar {
    background-color: $white;
    border-bottom: 1px solid $light-gray;

    .top-bar-right,
    .top-bar-left {

        @include breakpoint(small down) {
            flex: 0 0 auto;
        }
    }
        
    .menu{
        background: $white;

        .router-link-active {
            background: $primary-color;
            color: $white;
            border-radius: $global-radius;
        }
    }

    .logo__wrapper {
        height: rem-calc(100);
        width: rem-calc(100);

        .logo {
            width: 100%;
            height: auto;
        }
    }
}