.header {
    padding: rem-calc(15);

    @include breakpoint(large) {
        padding: rem-calc(47 49 0 49);
    }

    svg {
        cursor: pointer;
    }
}

.off-canvas {
    width: 0;
    overflow-x: hidden;
    transition: 0.5s;
    background: $white;
    position: absolute;
    left: 0;
    z-index: 6;

    &.position-left {
        transform: unset;
    }

    &.active {
        width: rem-calc(344);
        
        @include breakpoint(large) {
            width: rem-calc(288);
        }
    }

    .cancel {
        padding: rem-calc(15);

        @include breakpoint(large) {
            padding: rem-calc(51 0 40 52);
        }

        svg {
            cursor: pointer;
        }
    }

    .menu {
        .menu-item {

            border-bottom: 1px solid $medium-gray;

            &:first-child {
                border-top: 1px solid $medium-gray;
            }

            a {
                color: $black;
                padding: rem-calc(10 14);
                font-weight: 300;
                font-size: rem-calc(14);

                @include breakpoint(large) {
                    font-size: rem-calc(18);
                    padding: rem-calc(15 48);
                }
    
                &.router-link-exact-active {
                    background: $primary-color;
                }
            }
        }
    }
  }

  .overlay {
    background: rgba(51, 51, 51, 0.2);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    z-index: 5;

    &.active {
        display: block;
    }

  }